run = ["bash", "main.sh"]
language = "bash"
entrypoint = "main.sh"

[env]
DB_TYPE="postgresql"
DB_HOST="db.bit.io"
DB_PORT="5432"
DB_USER="wg1929"
DB_PASS="v2_3sbbZ_hexPGU6PSCby2MeTBDr9v5n"
DB_NAME="alist"
DB_TABLE_PREFIX="alist_"
DB_SLL_MODE="true"
